/* Chỉnh Bootstrap */
.container {
    max-width: 1200px;
    padding: 0;
    background: #fff;
    padding: 20px;
}

.col {
    margin-top: 18px;
}

/* Main Tin Tức */
.main-title {
    margin: 0 auto;
    max-width: 1200px;
    height: 250px;
    background-image: url(/IMG/foodbg.png);
    background-size: cover;
    margin-bottom: 5px;
}

.main-title h1 {
    font-family: roboto;
    font-weight: bold;
    font-size: 50px;
    color: black;
    text-align: center;
    line-height: 250px;
}

/* Tin tức */
.news img {
    max-width: 100%;
    border-radius: 10px;
}

.news h2 {
    margin: 12px;
    font-family: roboto;
    font-weight: bold;
    font-size: 25px;
}

.news-body {
    margin-top: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 #00000049;
}

.news-body p {
    text-align: justify;
    margin: 12px 12px 25px 12px;
}

.news-body a {
    padding: 12px 18px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    background-color: #ffc837;
    margin-left: 12px;
    color: black;
}

.news-body a:hover {
    color: #fff;
    background-color: #f1c40f;
}

/* Sale News */
.sale-news {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 #00000049;
    padding: 20px;
}

.sale-news img {
    max-width: 100%;
    border-radius: 10px;
}