main {
    position: relative;
}

article.main-contain {
    max-width: 1200px;
    margin: 0 auto;
}

/*Phần quảng cáo chính - trang chủ*/ 
section.special-ads-slider {
    height: 700px;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    border: 1px solid #fd8d03;
    transition: all 0.2s linear;
}

.slick-dots .slick-active button {
    background-color: #fd8d03;
}

/* Phần menu mini cho trang chủ */
section.menu {
    height: 200px;
    background-color: white;
}

.section-title {
    text-align: center;
    background-color: #00d15e;
}

.menu-title a {
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.menu-list {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.product-cat {
    position: relative;
    margin: 0 25px;
}

.cat-img a img {
    width: 100px;
}

.cat-title a {
    color: black;
    font-weight: bold;
}

.cat-title a:hover {
    color: #fd8d03;
}

/* Phần Hôm nay ăn gì? */
section.recommend {
    height: 500px;
    background-color: white;
}

.section-title h1 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin: 0;
}

/* Phần Chương trình khuyến mãi */
section.promotions {
    height: 500px;
    background-color: white;
}